@font-face {
  font-family: "robotoregular";
  src: url("fonts/Roboto-Regular-webfont.eot");
  src: url("fonts/Roboto-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Roboto-Regular-webfont.woff2") format("woff2"),
    url("fonts/Roboto-Regular-webfont.woff") format("woff"),
    url("fonts/Roboto-Regular-webfont.ttf") format("truetype"),
    url("fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/shrikhand-v6-latin-regular.eot");
  src: local("Shrikhand Regular"), local("Shrikhand-Regular"),
    url("fonts/shrikhand-v6-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/shrikhand-v6-latin-regular.woff2") format("woff2"),
    url("fonts/shrikhand-v6-latin-regular.woff") format("woff"),
    url("fonts/shrikhand-v6-latin-regular.ttf") format("truetype"),
    url("fonts/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
}
body {
  font-family: "robotoregular", sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
.h1-index {
  margin-top: 0em;
  text-align: center;
  padding-top: 2em;
}
h2 {
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;
}
svg {
  margin-top: 1.5em;
  margin-left: 2em;
}
.block-backgroundcolor,
.menu {
  background-color: #f6f6f6;
}
.header-img__size {
  width: 10.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.section-location {
  background-color: #eaeaea;
  font-weight: bold;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.section-location__paddingleft {
  padding-left: 7.8em;
}
.section-location-icon__paddingright {
  padding-right: 0.6em;
}
.section-explore {
  text-align: center;
  margin-top: 0em;
  height: 21em;
}
.font-color {
  color: #4b4b4b;
}
.btn {
  background: linear-gradient(#ff79da, #9356dc);
  color: #fafafa;
  font-weight: bold;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 10px #808080;
  border: 0px;
  margin-top: 2em;
  display: block;
  height: 3.8em;
  width: 15em;
  vertical-align: middle;
  line-height: 3.8em;
}
.btn-order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}
.btn-order__font-size {
  font-size: 1.2em;
}
footer {
  background-color: #353535;
  color: #fafafa;
}
.center {
  text-align: center;
}
.section-fonctionnement-ul-li-icon {
  padding-right: 1em;
  color: #7e7e7e;
  font-size: 1.3em;
}
.section-fonctionnement-ul-li-icon:hover {
  color: #9356dc;
}
.section-fonctionnement-ul {
  padding-left: 0;
}
.btn-operation {
  border: 0;
  height: 5em;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #808080;
  margin-bottom: 1.25em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #ffffff;
}

.btn-operation:hover {
  background-color: #f5edff;
  box-shadow: 0px 5px 10px #000000;
}
.btn-operation__marginbottom {
  margin-bottom: 4em;
}
.btn-operation__width {
  width: 20em;
}
.btn-operation__width-menu {
  width: 95%;
  position: relative;
}
.btn-operation__height-menu {
  height: 6em;
}
.btn-operation-texte {
  padding-left: 2em;
  padding-top: 1.7em;
  font-weight: bold;
}
.section-restaurants {
  padding-bottom: 2em;
}
.number {
  color: #fafafa;
  border: 1px solid;
  border-radius: 25px;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  left: -12px;
}

.link-white {
  text-decoration: none;
  color: #fafafa;
}
.link-black {
  text-decoration: none;
  color: #000000;
}

.img-restaurants {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px 14px 0 0;
  width: 100%;
  height: 12em;
  object-fit: cover;
  object-position: 0 60%;
}
.block-figure {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: #ffffff;
}
.block-new {
  background-color: #99e2d0;
  position: absolute;
  right: 1em;
  top: 1em;
  border-radius: 2px;
  width: 5.5em;
  height: 2em;
  color: #008766;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
}
figcaption {
  padding-left: 0.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.bold {
  font-weight: bold;
}
figcaption {
  position: relative;
}
.icon-heart {
  position: absolute;
  right: 1.5em;
  font-size: 1.5em;
}
.icon-heart:hover {
  color: #9356dc;
}

.footer-ul {
  margin-top: 0.5em;
  margin-bottom: 0;
  padding-left: 2em;
  padding-bottom: 2em;
}
.footer-li {
  padding-top: 0.4em;
}

.menu {
  border-radius: 50px 50px 0 0;
  width: 100%;
  position: absolute;
  top: 17.5em;
  z-index: 2;
}
.arrow {
  position: absolute;
  top: 0.8em;
  left: 1em;
  font-size: 1.4em;
}
.h1-menu {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8em;
  padding-left: 1em;
  padding-top: 0.5em;
}
.img-restaurants__menu {
  position: relative;
  z-index: 1;
  width: 100%;
}
.img-restaurants__lanoteenchantee {
  object-position: 0 -125px;
}
.section-dessert {
  position: relative;
}
.footer-menu {
  position: absolute;
  width: 100%;
  z-index: 3;
}
.footer-menu__lanoteenchantee {
  top: 112em;
}
.footer-menu__lapalettedugout {
  top: 105.5em;
}
.footer-menu__alafrancaise {
  top: 104.5em;
}
.heart-menu {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}
.h2-menu {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 0.2em;
}
.underline {
  border-bottom: solid 4px #99e2d0;
}
.ul-desserts {
  margin-bottom: 3.12em;
}
.price {
  position: absolute;
  top: 2.45em;
  right: 2em;
}
.texte-menu {
  padding-top: 0.8em;
  padding-left: 0.8em;
}
.font-size__texte-menu {
  font-size: 1.23em;
}
/*affichage desktop*/
@media screen and (min-width: 900px) {
  .section-fonctionnement-ul {
    display: flex;
  }
  .block-figure {
    display: inline-block;
    width: 45%;
    margin-left: 1em;
    margin-right: 1em;
  }
  .header-img__size {
    width: 20em;
  }
  .number {
    left: 150px;
    top: -12px;
  }
  .btn-operation__width-menu {
    width: 60%;
  }
  .footer-menu__lapalettedugout {
    top: 110em;
  }
  .footer-menu__lanoteenchantee {
    top: 116em;
  }
  /*
  .img-restaurants__menu {
    height: 30em;
    object-fit: cover;
    object-position: 0 -100px;
  }
  .img-restaurants-object-position__alafrancaise {
    object-position: 0 -170px;
  }
  .img-restaurants-object-position__ledelicedessens {
    object-position: 0 -200px;
  }
  .img-restaurants-object-position__lanoteenchantee {
    object-position: 0 -400px;
  }
  .menu {
    top: 30em;
  }*/
}

@media screen and (min-width: 600px) {
  .section-location,
  .section-restaurants,
  h2,
  h1 {
    text-align: center;
  }
  .footer-ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  h2,
  .section-location__paddingleft {
    padding-left: 0;
  }
  .footer-li {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.2em;
    text-align: center;
  }
  svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 1em;
    width: 15em;
  }
  .header-img__size {
    width: 20em;
  }
  .btn-operation__width-menu {
    width: 50%;
  }
  .img-restaurants__menu {
    height: 20em;
    object-fit: cover;
    object-position: 0 -100px;
  }
  .img-restaurants-object-position__alafrancaise {
    object-position: 0 -170px;
  }
  .img-restaurants-object-position__ledelicedessens {
    object-position: 0 -200px;
  }
  .img-restaurants-object-position__lanoteenchantee {
    object-position: 0 -400px;
  }
  .menu {
    top: 22em;
  }
  .footer-menu__lanoteenchantee {
    top: 115em;
  }
  .footer-menu__lapalettedugout {
    top: 110em;
  }
  .footer-menu__alafrancaise {
    top: 109em;
  }
}
