@font-face {
  font-family: "robotoregular";
  src: url("fonts/Roboto-Regular-webfont.eot");
  src: url("fonts/Roboto-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Roboto-Regular-webfont.woff2") format("woff2"),
    url("fonts/Roboto-Regular-webfont.woff") format("woff"),
    url("fonts/Roboto-Regular-webfont.ttf") format("truetype"),
    url("fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "robotoregular", sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
}
h1,
h2 {
  margin-top: 0em;
  text-align: center;
}
h1 {
  padding-top: 2em;
}
svg {
  margin-top: 1.5em;
  margin-left: 2em;
}
.img-size {
  width: 20em;
  height: 20em;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.block-backgroundcolor {
  background-color: #f6f6f6;
}
.header-img__size {
  width: 10.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.section-location {
  background-color: #eaeaea;
  font-weight: bold;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.section-location__paddingleft {
  padding-left: 7.8em;
}
.section-location-icon__paddingright {
  padding-right: 0.6em;
}
.section-explore {
  text-align: center;
  margin-top: 0em;
}
.font-color {
  color: #353535;
}
.btn {
  background: linear-gradient(#e671da, #9356dc);
  color: #fafafa;
  height: 3em;
  width: 15em;
  font-weight: bold;
  border-radius: 25px;
  margin-bottom: 3em;
  box-shadow: 0px 5px 10px gray;
  border: 0px;
}
footer {
  background-color: #353535;
  color: #fafafa;
}
.center {
  text-align: center;
}
.padding {
  padding-left: 1.5em;
}
.btn-operation {
  border: 0px;
  width: 15em;
  height: 2em;
  border-radius: 25px;
  box-shadow: 0px 5px 10px black;
  position: relative;
  top: 0;
  left: 0em;
}
.number {
  color: #fafafa;
  border: 1px solid;
  border-radius: 25px;
  background-color: #6a1b9a;
  width: 15px;
  position: absolute;
}
.link {
  text-decoration: none;
  color: #fafafa;
}
figure {
  margin: 0;
}
.footer-ul {
  margin-top: 0.5em;
  margin-bottom: 0;
  padding-left: 2em;
  padding-bottom: 2em;
}
.footer-li {
  padding-top: 0.4em;
}
